.client-list {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
        align-content: space-between;
}

.client-list__item {
    height: 92px;
    margin: 15px;
    flex-basis: calc((100% - 60px)/2);

    @include tablet {
        flex-basis: calc((100% - 90px)/3);
    }

    @include desktop {
        flex-basis: calc((100% - 180px)/6);
    }
}

.client-list__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    transition: color var(--timing-duration), border-color var(--timing-duration);

    &:hover,
    &:focus,
    &:active {
            color: var(--accent-color);
            border-color: var(--accent-color);
    }
}

.client-list__icon {
    fill: currentColor;
}
