:root {
  --header-color: #ffffff;
  --main-title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --accent-color-red: #d82418;
  --accent-color-orange: #ed510b;
  --background-color: #2f303a;
  --header-link: #212121;
  --timing-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
